<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user</title>
</head>
<body>
    <form action="/users/{{current_user.id}}/edit" method="POST">
        <label for="first_name" class="first_name">First Name</label>
        <input type="text" class="first_name" name="first_name" placeholder="{{current_user.first_name}}">
        <label for="first_name" class="last_name">Last Name</label>
        <input type="text" class="last_name" name="last_name" placeholder="{{current_user.last_name}}">
        <label for="image" class="image">Image URL</label>
        <input type="url" class="image" name="image" placeholder="{{current_user.image_url}}">
        <button><a href="/users/{{current_user.id}}">Cancel</a></button>
        <input type="submit" value="Submit"></label>
    </form>
</body>
</html>