<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Tag</title>
</head>
<body>
    <h1>Create a Tag</h1>
    <form action="/tags/new" method="POST" class="">
        <div class="form_container">
            <div>
                <label for="tagname" class="tagname">Name</label>
                <input type="text" class="tagname" name="tagname">
            </div>
            <button class=""><a href="/tags" class="">Cancel</a></button>
            <input type="submit" value="Add">
        </div>
    </form>
</body>
</html>