<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User From</title>
</head>
<body>
    <h1>Create a user</h1>
    <form action="/" method="POST">
        <label for="first_name" class="first_name">First Name</label>
        <input type="text" class="first_name" name="first_name">
        <label for="first_name" class="last_name">Last Name</label>
        <input type="text" class="last_name" name="last_name">
        <label for="image" class="image">Image URL</label>
        <input type="url" class="image" name="image">
        <input type="submit" value="Add"></label>
    </form>
    
</body>
</html>